input{
    font-family: 'Jua', sans-serif;
    border: #D1D1D1 1px;
    display: block;
}
a{
    color: #73777B;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: inline;
    margin-top: 80px;
    padding: 5px;
    font-family: 'Jua', sans-serif;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
}
.title{
    font-family: 'Jua', sans-serif;
    font-size: 60px;
}
#output{
    font-size: 50px;
    color: #F2789F;
}
button{
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
    width: 140px;
    height: 30px;
    color: white;
    text-align: center;
    background-color: #5800FF;
    display: block;
}
#color{
    background-color: #C3FF99;
}